{
  "ignore": "node_modules",
  "retainLines": true,
  "sourceMaps": "both",
  "plugins": [
    "syntax-class-properties",
    "syntax-dynamic-import",
    "syntax-export-extensions",
    "syntax-object-rest-spread",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
