{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "import",
    "lodash"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "modules": true
  },
  "rules": {
    "babel/array-bracket-spacing": [2, "never"],
    "babel/arrow-parens": 2,
    "arrow-spacing": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "consistent-return": 2,
    "eol-last": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "import/default": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/no-duplicates": 2,
    "import/no-extraneous-dependencies": 2,
    "import/no-named-as-default": 2,
    "import/no-named-as-default-member": 2,
    "import/no-unresolved": 2,
    "import/order": 2,
    "key-spacing": [2, { "align": "value" }],
    "keyword-spacing": 2,
    "linebreak-style": 2,
    "babel/no-await-in-loop": 2,
    "lodash/callback-binding": 2,
    "lodash/collection-method-value": 2,
    "lodash/collection-return": 2,
    "lodash/no-double-unwrap": 2,
    "lodash/no-extra-args": 2,
    "lodash/prefer-compact": 2,
    "lodash/prefer-filter": 2,
    "lodash/prefer-map": 2,
    "lodash/unwrap": 2,
    "no-duplicate-imports": 2,
    "no-else-return": 2,
    "no-lonely-if": 2,
    "no-native-reassign": 2,
    "no-nested-ternary": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-unneeded-ternary": 2,
    "no-useless-computed-key": 2,
    "no-var": 2,
    "no-warning-comments": 1,
    "object-curly-newline": [2, { "multiline": true }],
    "babel/object-curly-spacing": [2, "always"],
    "babel/object-shorthand": [2, "properties"],
    "padded-blocks": [2, "never"],
    "prefer-arrow-callback": [2, { "allowNamedFunctions": true }],
    "prefer-const": 2,
    "prefer-reflect": 1,
    "prefer-rest-params": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "require-yield": 0,
    "rest-spread-spacing": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": [2, { "words": true, "nonwords": false }],
    "strict": [2, "never"],
    "template-curly-spacing": 2,
    "unicode-bom": 2
  }
}
