node_modules/
npm-debug.log

pids
logs
results

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

public/files/*
!public/files/.gitkeep
tmp/*
/conf/envLocal.js
coverage
/.nyc_output

/.idea
/public/config/envLocal.js

dist
/export-*

.DS_Store

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
